canvas {
    display: block;
}

html, body {
    height: 100%;
}

body {
    background-image: url(background1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    background-color: #cfb495;
    opacity: .75;
}
.body {
    padding: 20px;
}
#search-form, .form-control {
    margin-bottom: 20px;
}
#search-form {
    padding: 10px;
    margin-top: 80px;
    justify-content: center !important;
    /* display: flex;
    align-items: center; */
}
.header-padding {
  padding-left: 20%;
}
.advanced-form {
  margin-top: 20px;
}
.my-input-title {
  width: 90px;
}
.search-row {
  width: 50%;
}
.music-container {
  width: auto;
  margin: 5%;
  height: auto;
  background-image: none;
}
.onAir {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.result{
  padding: 20px;
  border: 2px solid black;
  margin-bottom: 25px;
}
.album-cover{
  width: 300px;
  height: auto;
  margin: auto;
}

a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

label {
  color: black;
  font-weight: bold;
}